<html>

<head>
    <title>título</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <p class="text-center h4 pt-3 pb-3">Servidor push</p>
        <div class="card" style="margin-left: auto; margin-right: auto; ">
            <div class="card-header text-center h5">
                Gestión mensajes
                {{!-- <a class="nav-item nav-link" href="/sus">Detalle subscripciones</a> --}}
            </div>
            <div class="card-body" style="margin-left:auto; margin-right:auto;">
                {{!-- <h6 class="card-title" style="text-decoration:underline;">Enviar mensaje</h6>
                 <form class="form-inline" id="miForm">
                    <div class="form-group">
                        <label class="mr-2" for="exampleFormControlSelect1">Seleccionar destinatario</label>
                        <select class="form-control form-control-sm mr-2" id="selectId">
                            {{#each suscriptos}}
                            <option>{{this.mail}}</option>
                            {{/each}}
                        </select>
                        <input type="text" class="form-control form-control-sm mr-2" id="message"
                            placeholder="Escribir mensage">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                    <p>{{msgExito}}</p>
                    <p>{{msgError}}</p>
                </form> --}}

                <div class="row ">
                    <div class="col-5 mt-3">
                        <p class="card-text" id="totalPush">Suscripciones</p>
                        {{!-- <ul class="list-group list-group-flush" id="listaPush" style="height: 70px; overflow: auto;">
                    {{#each suscriptos}}
                    <li>
                        {{this.keys.auth}}
                    </li>
                    {{/each}}
                </ul>  
                {{this.createdAt.toLocaleDateString('EU'))}};
                --}}
                        <div style="height: 200px; overflow: auto;">
                            <table class="table table-striped small">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>mail</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                {{#each suscriptos}}
                                <tr>
                                    <td>{{this.keyAuth}}</td>
                                    <td>{{this.mail}}</td>
                                    <td>{{this.fechaAlta}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>

                    <div class="col-7 mt-3">
                        <p class="card-text" id="totalPush">Mensajes</p>
                        <div style="height: 200px; overflow: auto;">
                            <table class="table table-striped small">
                                <thead>
                                    <tr>
                                        <th>title</th>
                                        <th>bodyMessage</th>
                                        <th>iconImage</th>
                                        <th>date</th>
                                        <th>category</th>
                                        <th>status</th>
                                        <th>auth</th>
                                    </tr>
                                </thead>
                                {{#each mensajes}}
                                <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{this.bodyMessage}}</td>
                                    <td>{{this.iconImage}}</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.category}}</td>
                                    <td>{{this.status}}</td>
                                    <td>{{this.auth}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted text-center font-italic">
                &copy;Desarrollos ..., todos los derechos reservandos.
            </div>
        </div>

    </div>
</body>
<script src="./main.js"></script>

</html>