<html>

<head>
    <title>título</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <p class="text-center h5 pt-2 pb-2">Servidor push</p>
        <div class="card" style="margin-left: auto; margin-right: auto; ">
            {{!-- <div class="card-header text-center h5">
                Gestión de notificaciones
                <a class="nav-item nav-link" href="/sus">Detalle subscripciones</a>
            </div> --}}
            <div class="card-body" style="margin-left:auto; margin-right:auto;">
                {{!-- <h6 class="card-title" style="text-decoration:underline;">Enviar mensaje</h6>
                 <form class="form-inline" id="miForm">
                    <div class="form-group">
                        <label class="mr-2" for="exampleFormControlSelect1">Seleccionar destinatario</label>
                        <select class="form-control form-control-sm mr-2" id="selectId">
                            {{#each suscriptos}}
                            <option>{{this.mail}}</option>
                            {{/each}}
                        </select>
                        <input type="text" class="form-control form-control-sm mr-2" id="message"
                            placeholder="Escribir mensage">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                    <p>{{msgExito}}</p>
                    <p>{{msgError}}</p>
                </form> --}}

                <div class="row ">
                    <div class="col-7 ">
                        <div style="height: 150px; overflow: auto;">
                            <table class="table table-striped small table-sm table-borderless">
                                <thead>
                                    <tr style="text-align:center">
                                        <th style="background-color: rgb(200,200,200);">SUBSCRIP.</th>
                                        <th>Id</th>
                                        <th>mail</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                {{#each suscriptos}}
                                <tr style="text-align:center">
                                    <td></td>
                                    <td>{{this.keyAuth}}</td>
                                    <td>{{this.mail}}</td>
                                    <td>{{this.fechaAlta}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                    <div class="col-5">
                        <div style="height: 150px; overflow: auto;">
                            <table class="table table-striped small table-sm table-borderless">
                                <thead>
                                    <tr style="text-align:center">
                                        <th style="background-color: rgb(200,200,200);">CATEGORIAS</th>
                                        <th>catIndex</th>
                                        <th>catLabel</th>
                                        <th>catDescrip</th>
                                    </tr>
                                </thead>
                                {{#each category}}
                                <tr style="text-align:center">
                                    <td></td>
                                    <td>{{this.catIndex}}</td>
                                    <td>{{this.catLabel}}</td>
                                    <td>{{this.catDescrip}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ml-2 mr-2">
                {{!-- <div class="col mt-1 pr-1"> --}}
                {{!-- <p class="card-text " id="totalPush">Mensajes</p> --}}
                {{!-- </div> --}}
                {{!-- <div class="col"> --}}
                <div style="height: 300px; overflow: auto; ">
                    <table class="table table-striped small table-sm table-borderless">
                        <thead>
                            <tr style="text-align:center">
                                <th style="background-color: rgb(200,200,200);">NOTIF.</th>
                                <th>title</th>
                                <th>bodyMessage</th>
                                <th>iconImage</th>
                                <th>date</th>
                                <th>category</th>
                                <th>status</th>
                                <th>auth</th>
                                <th>mail</th>
                                <th>Sender<br>id</th>
                                <th>Sender<br>fullname</th>
                                <th>Sender<br>avatar</th>
                                <th>Sender<br>email</th>
                            </tr>
                        </thead>
                        {{#each mensajes}}
                        <tr style="text-align:center">
                            <td></td>
                            <td>{{this.title}}</td>
                            <td>{{this.bodyMessage}}</td>
                            <td>{{this.iconImage}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.status}}</td>
                            <td>{{this.auth}}</td>
                            <td>{{this.mail}}</td>
                            <td>{{this.senderDTO.id}}</td>
                            <td>{{this.senderDTO.fullname}}</td>
                            <td>{{this.senderDTO.avatar}}</td>
                            <td>{{this.senderDTO.email}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                {{!-- </div> --}}
            </div>
        </div>
    </div>
    {{!-- <div class="card-footer text-muted text-center font-italic">
        &copy;Desarrollos ..., todos los derechos reservandos.
    </div> --}}
    <script src="./main.js"></script>
</body>


</html>